#image{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header {
  width: 100%;
  height: 60px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: fixed;
  top: 0;
  background: white;
  z-index: 1;
  .logoHolder{
    height: calc(100% - 10px);
    width: calc(15% - 40px);
    padding: 5px 20px;
    float: left;
  }
  .titleHolder{
    width: calc(70% - 30px);
    float: left;
    height: 100%;
    padding: 0 15px;
    .title{ 
      height: 100%;
      font-size: 20px;
      font-family: 'Segoe UI Semibold'
    }
  }
  .fixerDiv{
    width: 15%;
    height: 100%;
    float: right;
  }
}