
<!-- <div id="content">

  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top:0;position:fixed;width:100%">
    
            <div class="navbar-brand">
                    <img src="../../../assets/images/gm-logo.png" height="45px" width="80px"  class="rounded">
                 
                </div>
         <div class="navbar-nav" style="margin-left: auto;margin-right: auto;display:block">
              <h4 class="navbar-item" style="font-weight:bold;">Calibration Dashboard-ECUs</h4>
         </div>

  </nav>
</div> -->
<div class="header">
    <div>
            <img src="../../../assets/images/gm-logo.png" height="50px" width="50px" class="logo"/>
    </div>
       <div>
            <div class="title">Calibration Dashboard</div>
       </div> 

      </div>
    
