.ecu-details{
    background: #f6f6f6;
    height: 134px;
    width: 479px;
    margin-top: 3%;
    margin-left: 3rem;
}
.cardData{
    background: #f6f6f6;
    height: 400px;
    width: 230px;
    margin-top: 3%;
    margin-left: 3rem;
}
.title{
    padding-top: 8px;
    text-align: center;
    text-decoration: underline;
    font-size: 14px;
    font-weight: bold;
    color: #6d6d6d;
}
.ecu-name{
    font-size: 16px;
    color:#277847;
    padding-top: 8px;
    text-align: center;
}
.details{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 42px;

}
.sw-version{
    font-size: 12px;
    color: #6d6d6d;

}
.hw-version{
    font-size: 12px;
    color: #6d6d6d; 
    
}
.cal-part{
    font-size: 12px;
    color: #6d6d6d; 
    

}
.hw-versionvalue{
    font-size:12px;
    color: #22559e;
    font-weight: bold;

    
}
.sw-versionvalue{
    font-size:12px;
    color: #22559e;
    font-weight: bold;
.cal-values{
    display: flex;
    flex-wrap: wrap;
}
    
}
.cal-partvalue{
    font-size:12px;
    color: #22559e;
    font-weight: bold;

}
.software{
margin-left: 57px;
}
.calculation{
    margin-left: 57px; 
}
ul li{
    list-style-type: none;
    font-size:12px;
    color: #22559e;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
 min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}




