<div class="car-details">
  <div class="filterHolder">
    <span style="color:#4e5867">Program:</span>
    <mat-form-field id="program-name">
      <mat-select (selectionChange)="landingService.getModelYearList($event.value)">
        <mat-option *ngFor="let program of landingService.filterProgramName" [value]="program">
          {{program}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <span style="color:#4e5867">Model Year:</span>
      <mat-form-field id="model-year">
        <mat-select (selectionChange)="landingService.getSelectedProgram($event.value)">
          <mat-option *ngFor="let model of landingService.filterModelYear" [value]="model">
            {{model}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="nodata" class="noData alignCenter">Select Program To View Data </div>
  <ng-container *ngFor="let carData of brandData">
    <div id="car-model">
      <div>
        <div class="title">Vehicle Details</div>
        <div class="vehicle-deatils">
          <div>
            <div class="brand">Brand</div>
            <div class="brand-value">{{carData.brand}}</div>
          </div>
          <div>
            <div class="model">Model</div>
            <div class="model-value">{{carData.model}}</div>
          </div>
          <div>
            <div class="type">Type</div>
            <div class="type-value">{{carData.type}}</div>
          </div>
          <div>
            <div class="trim">Trim</div>
            <div class="trim-value">{{carData.trim}}</div>
          </div>
          <div>
            <div class="region">Region</div>
            <div class="region-value">{{carData.region}}</div>
          </div>
        </div>

      </div>
      <div class="car-image">
        <img src="../../../../assets/images/car1.png.png" height="90px" width="164px" />
      </div>
    </div>
  </ng-container>
</div>