.car-details{
    background-color: #f6f6f6;
    height: 100%;
    float: left;
    width: 100%;
    .filterHolder{
        height: 100%;
        width: 30%;
        float: left;
    }
    .noData{
        width: 70%;
        float: left;
        height: 100%;
        background: #EEEEEE;
    }
}
.selection{
    height: 30px;
    width: 40px;
}
#program-name{
    font-size: 13px;
    padding-left: 27px;
}
span{
    font-size: 15px;
    padding-left: 2.5rem;
}
#model-year{
    font-size: 13px;
    padding-left: 9px;
    
}
#car-model{
    background: #eeeeee;
    padding-left: 14px;
    width: 1059px;
    height: 117px;
    display: flex;
    flex-wrap: wrap
}
.vehicle-deatils{
    display: flex;
    flex-wrap: wrap;
    margin-left:2rem;
}
.title{
    font-size: 13px;
    text-decoration: underline;
    color:#20324B;
    padding-top: 20px;
    text-align: center;
}
.brand{
    font-size:12px;
    color: #6d6d6d;
    padding-top: 30px;
    padding-right: 6vw;

}
.brand-value{
    font-size:12px;
    color: #22229e;
}
.type{
    font-size:12px;
    color: #6d6d6d;
    padding-top: 30px;
    padding-right: 6vw;

}
.type-value{
    font-size:12px;
    color: #22229e;
}
.trim{
    font-size:12px;
    color: #6d6d6d;
    padding-top: 30px;
    padding-right: 6vw;

}
.trim-value{
    font-size:12px;
    color: #22229e;
}
.region{
    font-size:12px;
    color: #6d6d6d;
    padding-top: 30px;
   

}
.region-value{
    font-size:12px;
    color: #22229e;
}
.model{
    font-size:12px;
    color: #6d6d6d;
    padding-top: 30px;
    padding-right: 6vw;
}
.model-value{
    font-size:12px;
    color: #22229e;
}
.car-image{
   margin-top: 15px;
    margin-left: 15rem;
    width: 164px;
    height: 84px;
    // border: 2px solid white;
}
  @media screen and (max-width: 1230px) {
   .car-image{
    margin-top: 12px;
    margin-left: 1rem;
    width: 50px;
    height: 50px;
   }
   #car-model{
    background: #eeeeee;

    width: 100%;
    height: 117px;
   

   }
  }
  @media screen and (max-width: 1360px) {
    .car-image{
        margin-top: 12px;
        margin-left: 1rem;
        width: 50px;
        height: 50px;
       }
       #car-model{
        background: #eeeeee;
    
        width: 100%;
        height: 117px;
       
    
       }
   
   }