.contentHolder{
  width: 100%;
  height: calc(100% - 60px);
  margin-top: 60px;
  .sideBarHolder{
    width: 15%;
    float: left;
    height: 100%;
  }
  .programHolder { 
    width: 85%;
    height: 100%;
    float: right;
  }
}
.contentplacing{
    position: absolute;
    left:13.5%;
    top:23%;
    display: flex;
    flex-wrap: wrap;
      align-content: space-between;
      // flex-direction: column;
}
.wholecontent{
  display: flex;
  flex-wrap: wrap;
     

}
.align{
  display: flex;
  flex-wrap: wrap;
    align-content: space-between;
    flex-direction: column;
}
@media screen and (max-width: 1230px) {
  .contentplacing{
    top:40%;
  }
 }
  @media screen and (max-width: 1360px) {
   .contentplacing{
     top:40%;
   }
  
  }