.contentHolder{
  width: 100%;
  height: calc(100% - 60px);
  margin-top: 60px;
  .sideBarHolder{
    width: 15%;
    float: left;
    height: 100%;
  }
  .programHolder { 
    width: 85%;
    height: 25%;
    float: right;
  }
  .contentplacing{
    float: left;
    height: calc(75% - 30px);
    width: calc(85% - 30px);
    padding: 15px;
    .listsHolder{
      width: 60%;
      height: 100%;
      float: left;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .cardHolder{
        width: 30%;
        height: 100%;
      }
    }
  }
}

.wholecontent{
  display: flex;
  flex-wrap: wrap;
     

}
.align{
  display: flex;
  flex-wrap: wrap;
    align-content: space-between;
    flex-direction: column;
}
@media screen and (max-width: 1230px) {
  .contentplacing{
    top:40%;
  }
 }
  @media screen and (max-width: 1360px) {
   .contentplacing{
     top:40%;
   }
  
  }