<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center"> -->
   
  <app-header></app-header>
  <div class="sidebar">
    <div> <app-sidebar></app-sidebar> </div> 
      <div><app-program-model-container></app-program-model-container></div>
  </div>
  <div class="contentplacing">
<div>
  <app-ecu-card></app-ecu-card>
</div>
<div>
    <app-subsystem-card></app-subsystem-card>
</div>
<div>
    <app-feature-card></app-feature-card>
</div>
<div class="align">
  <div><app-ecu-details></app-ecu-details></div>
  <div><app-subsystem-details></app-subsystem-details></div>
    <div><app-feature-details></app-feature-details></div>
</div>
  </div>


  <!-- <div class="container">
      <div class="row">
             
          <div class="col-sm-12">
              <app-sidebar></app-sidebar>
          </div>
        
        
      </div>
        </div>
  
  
  <div class="container" id="data">
      <div class="row">
       <div class="col-md-8">
                          <app-program-model-container></app-program-model-container>
                   </div>   
                 
      </div>
  </div>
   -->
  
  

<router-outlet></router-outlet>
