<app-header></app-header>
<div class="contentHolder">
  <div class="sideBarHolder">
    <app-sidebar></app-sidebar>
  </div>
  <div class="programHolder">
    <app-program-model-container></app-program-model-container>
  </div>
  <div class="contentplacing">
      <div class="listsHolder alignCenter">
        <div class="cardHolder"><app-ecu-card></app-ecu-card></div>
        <div class="cardHolder"><app-subsystem-card></app-subsystem-card></div>
        <div class="cardHolder"><app-feature-card></app-feature-card></div>
      </div>
    <div class="align">
      <app-ecu-details></app-ecu-details>
      <app-subsystem-details></app-subsystem-details>
      <app-feature-details></app-feature-details>
    </div>
  </div>
</div>



<router-outlet></router-outlet>