<div class="sidenav">
          <!-- <a href="#about">Select View</a>
          <a href="#services">Vehicle View</a>
          <a href="#clients">Domain View</a>
          <a href="#contact">Component View</a>
          <a href="#comp">Compare Archives</a>
          <a href="#look">Look Across Setting</a> -->
          <div class="sidebar-background">
          <ul>
            <li><a href="#about">Select View</a>
            <ul>
              <li><a href="#services">Vehicle View</a></li>
              <li> <a href="#clients">Domain View</a></li>
              <li> <a href="#contact" class="active" style="color: #f1f1f1;">Component View</a></li>
            </ul>
            
            </li>

          </ul>
        </div>
        <div class="option1-background">
          <ul>
            <li>
             <a href="#comp"><mat-icon aria-hidden="false">file_copy</mat-icon>Compare Archives</a></li>
          </ul>
        </div>
        <div class="option2-background">
            <ul>
              <li>
                 <a href="#look"> <mat-icon aria-hidden="false">search</mat-icon>Look Across Setting</a> </li>
            </ul>
          </div>
          <div class="favorite">
            <ul>
              <li><a href="#look"> <mat-icon aria-hidden="false">star_border</mat-icon>Favorites</a> </li>
            </ul>
          </div>
          <div class="upload-btn">
            <ul>
                <li><a href="#"><button mat-raised-button color="primary" style="width: 10rem;">Knowledge Mode</button></a></li>
          </ul>
          </div>
          <div style="margin-top:-5px">
            <ul>
            <li><a href="#"><button mat-raised-button color="primary"  style="width: 10rem;">Upload Archive</button></a></li>
            </ul>
          </div>
        </div>



