.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    // top: 60px;
    left: 0;
    background-color: #20252f;
    // padding-top: 20px;
   
  }
  .sidebar-background{
      margin-top: 30px;
      background: #11141a
  }
  // .active{
  //   color: #f1f1f1;
  // }
  .sidenav a  {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 13px;
    color: #818181;
    display: block;
    list-style-type: none;
    margin-left: -39px;
    // background: #11141a;
  }
  .option1-background{
      background: #272c36;
      height: 35px;
    margin-top: -15px;
  }
  .option2-background{
    background: #272c36;
    height: 35px;
    margin-top: -12px
  
}
  .favorite{
    background: #272c36;
    height: 35px;
    margin-top: -12px
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .sidenav a:active {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  // @media screen and (max-height: 450px) {
  //   .sidenav {padding-top: 15px;}
  //   .sidenav a {font-size: 18px;}
  // }
  .upload-btn{
      margin-top: 2.5rem;
      // width: 10rem;
  }
.mat-icon{
  font-size:16px;
 
}
ul li{
  list-style-type: none;
}
// @media screen and (max-width: 700px) {
//   .sidebar {
//     width: 100%;
//     height: auto;
//     position: relative;
//   }
//   .sidebar a {float: left;}
//   div.content {margin-left: 0;}
// }

// @media screen and (max-width: 400px) {
//   .sidebar a {
//     text-align: center;
//     float: none;
//   }
// }