<div class="card">
   <div class="title">ECU</div>
   <div class="border"></div>
   <div class="search-input">
      <form class="alignCenter"> <input class="search" type="text" [(ngModel)]="searchText" name="myName" placeholder="Search"></form>
   </div>
   <div class="ecu-list">
      <ul class="noMargin noPadding">
         <ng-container *ngFor="let x of landingService.ecuList |filter:searchText">
            <li (click)="landingService.getSubSystemList(x.name)" class="listdata" style="height:38px;"><a
                  [ngClass]="{'gray':x.isDisabled, 'red':x.isError}">{{x.name}}</a>
               <div style="font-size:10px;color:#20324b">{{x.version}}</div>
            </li>
         </ng-container>
      </ul>
   </div>
</div>