/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI';
}

.align{
  display: flex;
  align-items: center;
}

.alignLeft{
  @extend .align;
  justify-content: flex-start;
}

.alignRight{
  @extend .align;
  justify-content: flex-end;
}

.alignCenter{
  @extend .align;
  justify-content: center;
}

.noPadding{
  padding: 0!important;
}

.noMargin {
  margin: 0!important;
}

.node {
    cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
svg{
    height: 450px;
    margin-top: -5rem;
}
#dependancy-block{
    height: 400px;
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}
table, th, td {
    border-collapse: collapse;
    width: 100%; 
  }
  th{
  background-color: gray;
  }

  
  th, td {
    padding: 8px;
    text-align: left;
  }
  th:first{
    color:yellowgreen;
  }